<div class="background-login">
    <div class="box-login">
        <div>
            <div style="margin-left: 40px;margin-top: 20px;">
                <a>
                    <img src="\assets\Logo-police1.jpg" alt=""> <br>
                </a><br>
            </div>
            <b>Username</b> <br><br> <input type="text" id="inputusername"><br><br>
            <b>Password</b> <br> <br><input type="text" id="inputpassword"><br><br>
            <div style="display: flex;justify-content: center;">
                <button class="btn btn-secondary" routerLink="/Main/FormsManual">ตกลง</button>
            </div>
            
        </div>

    </div>
</div>