<div style="height: 100vh;background-color: blue; " class="" >
    <div class="row ">
        <div class="col-4 displaycenter px-0 ">
            <div class="card " style="box-shadow: -3px 0px 19px 1px grey; ">
                <div class="card-body mx-auto">
                    <div class="row">
                        <div class="col-12 text-center" >
                            <a>
                                <img src="\assets\Logo-police1.jpg" alt=""> <br>
                            </a><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <b>Username</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <input type="text" id="inputusername">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <b>Password</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <input type="text" id="inputpassword">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 my-4 text-center">
                            <button class="btn btn-secondary" routerLink="/Main">ตกลง</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>